<div class="grid grid-cols-12 gap-6">

  <!-- Orders -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block text-muted-color font-medium mb-2">Orders</span>
          <div class="text-xl font-semibold">
            {{ sale().count }}
          </div>
        </div>
        <div class="bg-blue-100 rounded-full w-10 h-10 flex items-center justify-center">
          <i class="pi pi-shopping-cart text-blue-500"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Sales -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block text-muted-color font-medium mb-2">Sales Amount</span>
          <div class="text-xl font-semibold">
            {{ sale().total | currency:'AED' }}
          </div>
        </div>
        <div class="bg-orange-100 rounded-full w-10 h-10 flex items-center justify-center">
          <i class="pi pi-dollar text-orange-500"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block mb-2">Card</span>
          <div class="text-xl font-semibold">
            {{ cash().card | currency:'AED' }}
          </div>
        </div>
        <i class="pi pi-credit-card text-cyan-500"></i>
      </div>
    </div>
  </div>

  <!-- Bank -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block mb-2">Bank</span>
          <div class="text-xl font-semibold">
            {{ cash().bank | currency:'AED' }}
          </div>
        </div>
        <i class="pi pi-university text-purple-500"></i>
      </div>
    </div>
  </div>

  <!-- Cheque -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block mb-2">Cheque</span>
          <div class="text-xl font-semibold">
            {{ cash().cheque | currency:'AED' }}
          </div>
        </div>
        <i class="pi pi-file text-indigo-500"></i>
      </div>
    </div>
  </div>

  <!-- Cash In -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block mb-2">Cash In</span>
          <div class="text-xl font-semibold">
            {{ cash().total_cash_in | currency:'AED' }}
          </div>
        </div>
        <i class="pi pi-wallet text-green-500"></i>
      </div>
    </div>
  </div>

  <!-- Cash Out -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block mb-2">Cash Out</span>
          <div class="text-xl font-semibold">
            {{ cash().total_cash_out | currency:'AED' }}
          </div>
        </div>
        <i class="pi pi-sign-out text-red-500"></i>
      </div>
    </div>
  </div>

  <!-- Available -->
  <div class="col-span-12 sm:col-span-6 xl:col-span-3">
    <div class="card h-full">
      <div class="flex justify-between items-center">
        <div>
          <span class="block mb-2">Cash Available</span>
          <div class="text-xl font-semibold">
            {{ cash().available_cash | currency:'AED' }}
          </div>
        </div>
        <i class="pi pi-coins text-yellow-500"></i>
      </div>
    </div>
  </div>

</div>