<p-toast key="tst"></p-toast>
<p-confirmDialog />

<form [formGroup]="mainForm" (ngSubmit)="onSubmit()" class="card flex flex-col gap-6 w-full p-5">

  <!-- Product Name -->
  <div class="w-full">
    <label>Product Name</label>
    <input pInputText type="text" formControlName="name" autocomplete="on"
      class="w-full p-3"
      [ngClass]="{'ng-invalid ng-dirty': f['name'].invalid && f['name'].touched}" />

    <small *ngIf="f['name'].invalid && f['name'].touched" class="text-red-500">
      Name is required
    </small>
  </div>

 

 
  <!-- Prices + Stock -->
  <div class="flex flex-col md:flex-row gap-6">

    <div class="w-full">
      <label>Purchase Price</label>
      <input pInputText type="number" formControlName="purchase_price"
        class="w-full p-3"
        [ngClass]="{'ng-invalid ng-dirty': f['purchase_price'].invalid && f['purchase_price'].touched}" />
    </div>

    <div class="w-full">
      <label>Sale Price</label>
      <input pInputText type="number" formControlName="sale_price"
        class="w-full p-3"
        [ngClass]="{'ng-invalid ng-dirty': f['sale_price'].invalid && f['sale_price'].touched}" />
    </div>

    <div class="w-full">
      <label>Stock</label>
      <input pInputText type="number" formControlName="stock"
        class="w-full p-3"
        [ngClass]="{'ng-invalid ng-dirty': f['stock'].invalid && f['stock'].touched}" />
    </div>

  </div>

  <!-- Unit -->
  <div class="w-full">
    <label>Unit</label>
    <p-select
      formControlName="unit"
      [options]="unitsList()"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      placeholder="Select One"
      class="w-full"
      [ngClass]="{'ng-invalid ng-dirty': f['unit'].invalid && f['unit'].touched}">
    </p-select>

    <small *ngIf="f['unit'].invalid && f['unit'].touched" class="text-red-500">
      Unit is required
    </small>
  </div>

  <!-- Buttons -->
  <div class="flex gap-3">
    <button pButton type="submit" label="Save"></button>

    <!-- ❌ FIXED click -->
    <button pButton type="button" label="Reset" (click)="Reset()" severity="secondary"></button>
  </div>

</form>